{% extends "admin/change_list.html" %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    {% include 'app/admin/_styles.html' %}
{% endblock %}

{% block branding %}
    {% include 'app/admin/_branding.html' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block object-tools-items %}
    <li>
        {% if unprocessed_articles_count %}
            <a href="{% url 'admin:process-next-article' %}">Process New Articles ({{ unprocessed_articles_count }})</a>
        {% else %}
            <span>No new articles.</span>
        {% endif %}
    </li>
{% endblock %}

{% block content_title %}<h1>Articles</h1>{% endblock %}

{% block result_list %}
    {% block pagination %}{{ block.super }}{% endblock %}
    {{ block.super }}
{% endblock %}
