#header #user-tools {
    font-size: 12px;
}

body.app-app.model-article.change-form #content h1 {
    display: none;
}

#article_form dt,
#article_form dd,
#article_form p {
    font-size: 15px;
}

#article_form .field-html_meta_safe dt > a[name^=item] {
    display: none;
}

#article_form .form-row > div > label {
    display: none;
}

#article_form .form-row > div > label + .readonly {
    margin-left: 0;
}

#article_form .field-html_meta_safe,
#article_form .field-html_meta_safe p {
    color: black;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
}

#article_form .field-html_meta_safe a {
    color: blue;
}

#article_form .field-html_meta_safe dd {
    margin-left: 5px;
    margin-top: 5px;
}

#article_form .field-html_meta_safe p {
    margin-top: 15px;
}

#article_form .field-html_meta_safe .list-authors {
    font-size: 16px;
}

#article_form .field-html_meta_safe .list-authors .descriptor {
    display: none;
}

#article_form .field-html_meta_safe .list-title {
    font-size: 18px;
    font-weight: bold;
}

#article_form .field-html_meta_safe .list-title .descriptor {
    display: none;
}

#article_form .field-html_meta_safe .list-comments,
#article_form .field-html_meta_safe .list-journal-ref,
#article_form .field-html_meta_safe .list-subjects {
    font-size: 13px;
}

#article_form .field-html_meta_safe .list-subjects .primary-subject {
    font-weight: bold;
}

#article_form .field-categories .selector #id_categories_add_all_link,
#article_form .field-categories .selector #id_categories_remove_all_link {
    display: none;
}

#article_form .submit-row {
    background: #fff;
    border: 0;
    overflow: visible;
}

#article_form .submit-row input[type=submit] {
    background: #79aec8;
    float: left;
    height: auto;
    left: 820px;
    max-width: 210px;
    position: relative;
    top: -390px;
    white-space: normal;
}

#article_form .submit-row input[type=submit]:active,
#article_form .submit-row input[type=submit]:focus,
#article_form .submit-row input[type=submit]:hover {
    background: #205067
}
