{% extends "admin/change_form.html" %}

{% load admin_modify i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/admin/css/styles.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        setTimeout(function () {
            document.querySelector('#id_categories_filter #id_categories_input').focus();
        }, 1000);
    </script>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if show_custom_submit_row %}
        <div class="submit-row">
            <input type="submit" value="Save and proceed to next article ({{ remaining_unprocessed_articles_count }} remaining)" class="default" />
        </div>
    {% else %}
        {% submit_row %}
    {% endif %}
{% endblock %}


{% block object-tools-items %}{% endblock %}
